<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Zawody </title>
        <script src='/bower_components/jquery/dist/jquery.js'></script>
        <script src='/bower_components/jquery-ui/jquery-ui.min.js'></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/moment/min/moment.min.js"></script>
        <script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script src="/js/utils.js"></script>
        <script src="/js/competitioncrud.js"></script>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" href="/css/crud.css">
    </head>
    <body>

        <div class="jumbotron">
            <div class="container text-center">
                <div class="alert alert-danger fade" id='add-alert'>
                </div>
                <p>Konie</p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nazwa</th>
                            <th>Data rozpoczęcia</th>
                            <th>Liczba sędziów</th>
                            <th>Typ oceniania</th>
                            <th>Lista startowa</th>
                            <th>Edytuj</th>
                            <th>Usuń</th>
                        </tr>
                        <tr>
                            <th>
                                <button id="add-btn" type="submit" class="btn btn-success">Dodaj</button>
                            </th>
                            <th>
                                <input id="name" type="text" class="form-control" placeholder="nazwa">
                            </th>
                            <th class="td-date">
                                <div class="input-group">
                                    <input id="start-date" type="text" class="form-control form-date" placeholder="data rozpoczecia">
                                </div>
                            </th>
                            <th>
                                <input id="arbiters-count" type="number" min="5" class="form-control" placeholder="liczba sedziow">
                            </th>
                            <th>
                                <select class="form-control" id="rates-type">
                                    <option value="half">połówki</option>
                                    <option value="all">całe</option>
                                </select>
                                <select class="form-control" id="rates-interval">
                                    <option value="ten">0-10</option>
                                    <option value="twenty">0-20</option>
                                </select>
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="competitions-tbody" class="tbody">
                        <% competitions.forEach((competition) => { %>
                        <tr>
                            <% var rT = competition.meta.ratesType; %>
                            <td><%= competition._id %></td>
                            <td><%= competition.meta.name %></td>
                            <td><%= competition.meta.startDate %></td>
                            <td><%= competition.meta.arbitersCount %></td>
                            <td>
                                <%= rT.substr(0, rT.indexOf(' ')) === 'half'? 'połówki' : 'całe'  %>
                                <%= rT.substr(rT.indexOf(' ')) === 'ten'? '0-10' : '0-20'  %>
                            </td>
                            <td>
                                <a href="./competition/<%= competition._id %>/<%= competition.meta.started? 'results' : 'startList'%>">
                                    <% //competition.meta.started? %> Wyniki <% //: %> Lista startowa
                                </a>
                            </td>
                            <td>
                                <button type="button" data-toggle="modal" data-target="#update-modal" class="glyphicon glyphicon-edit btn-success update-row" aria-hidden="true">
                                </button>
                            </td>
                            <td>
                                <button type="button" data-toggle="modal" data-target="#delete-modal" class="glyphicon glyphicon-remove btn-danger remove-row" aria-hidden="true"></button>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="modal fade" id="update-modal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="input-group input-group-lg" id="inputs-update">
                            <input type="text" class="form-control" disabled>
                            <input type="text" class="form-control" placeholder="nazwa">
                            <input type="text" class="form-control" placeholder="data rozpoczecia">
                            <input type="number" min="5" class="form-control" placeholder="liczba sedziow">
                            <select class="form-control">
                                <option value="half">połówki</option>
                                <option value="all">całe</option>
                            </select>
                            <select class="form-control">
                                <option value="ten">0-10</option>
                                <option value="twenty">0-20</option>
                            </select>
                        </div>

                        <div class="alert alert-danger fade" id='update-alert'></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="update-btn" class="btn btn-success">Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="delete-modal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Napewno chcesz usunąć ten rekord?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="delete-btn" class="btn btn-danger" data-dismiss="modal">Usuń</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Anuluj</button>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>