<!DOCTYPE html>
<html>
    <head>

        <script src='/bower_components/jquery/dist/jquery.js'></script>
        <script src='/bower_components/jquery-ui/jquery-ui.min.js'></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/utils.js"></script>
        <script src="/js/results.js"></script>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/results.css">
    </head>
    <body>
        <div hidden="true" id="compId" value="<%= compId %>"></div>
        <% if(!finished) { %>
        <div class="jumbotron" id="control-panel">
            <div hidden="true" id="currHorse" value="<%= currentHorse %>"></div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-inline text-center">
                        <div class="form-group text-center">
                            <button type="button" id="remind-endEst" class="btn btn-lg btn-success">Upomnij sędziów / Następny Koń</button>
                        </div>
                        <div class="form-group text-center">
                            <button type="button" id="allow-estimation" class="btn btn-lg btn-success">Zacznij ocenianie grupy</button>
                        </div>
                        
                    </div>

                </div>
            </div>
            <div class="alert alert-danger fade text-center" id='alert'></div>
            <div class="groups">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <label>Wybierz grupe</label>
                        <select class="select-group form-control" size="<%= groups.length ===1? 2: groups.length %>">
                            <% groups.forEach((group) => { %>
                            <option class="btn btn-success"  value="<%= group._id %>">Nazwa grupy: <%= group.name %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="col-sm-6 text-center">
                        <label>Konie w grupie</label>
                        <% groups.forEach((group, i) => { %>
                        <select disabled class="select-horse form-control" size="<%= group.horses.length %>" id="<%= group._id %>">
                            <% group.horses.forEach((horse) => { %>
                            <option class="horses not-rated" value="<%= horse.horse._id %>"><%= horse.startNumber+"."+horse.horse.name %></option>  
                            <% }); %>
                        </select>
                        <% }); %>
                    </div>
                </div>
            </div>

        </div>
        <% } %>
        <div class="jumbotron" id="results">
            <% if(finished) { %><p class="text-center">Zawody Skonczone!</p><% } %>  
            <div class="text-center">
                <% groups.forEach((group) => { %>
                <% group.horses.forEach((horse) => { %>
                <a style="cursor: pointer;" class="change-item" data-value="<%= horse.horse._id %>"><%= horse.horse.name %></a>
                <% }); %>
                <% }); %>
            </div>

            <div id="carousel" class="carousel slide" data-ride="carousel" style="margin-top: 5%;">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <% groups.forEach((group) => { %>
                    <% group.horses.forEach((horse) => { %>

                    <div class="item">
                        <p class="text-center"><%= horse.horse.name %></p>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sędzia</th>
                                    <th>Typ</th>
                                    <th>Głowa</th>
                                    <th>Szyja</th>
                                    <th>Ciało</th>
                                    <th>Nogi</th>
                                    <th>Ruch</th>
                                </tr>
                            </thead>
                            <tbody data-value="<%= horse.horse._id %>">
                                <% group.arbiters.forEach((arbiter) => { %>
                                <tr data-value="<%= arbiter._id %>">
                                    <td><%= arbiter.firstname + ' ' + arbiter.lastname %> </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <% }); %>
                            </tbody>    
                        </table>
                    </div>
                    <% }); %>
                    <% }); %>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div> <!-- Carousel -->

        </div>
    </body>
</html>