<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Zawody </title>
        <script src='/bower_components/jquery/dist/jquery.js'></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/js/utils.js"></script>
        <script src="/js/startlistcrud.js"></script>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/crud.css">
    </head>
    <body>

        <div class="jumbotron">
            <div class="container text-center">
                <% if (editGroups){ %>
                <p>Uwaga! Edytując listę startową kasujesz wszystkie grupy.</p>
                <% } %>
                <div class="row">
                    <div class="col-md-4">
                        <p type="text" id="idComp" hidden><%= id %></p>
                    </div>
                    <div class="col-md-4">
                        <p>Dodaj konie</p>
                    </div>
                    <div class="col-md-4">
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="left" title="Aby dodać konie danej płci
                                                                                                                       ich ilość musi wynosić minimum 3."></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p>Dostępne konie</p>
                        <select class="horses-select form-control" multiple="true" id="available-horses">
                            <% availableHorses.forEach((horse) => { %>
                            <option value="<%= horse._id %>"><%= horse.name %> p:<%= horse.gender %></option>
                            <% }); %>
                        </select>
                        <input style="margin-top:5%;" id="search-horse" type="text" class="form-control" placeholder="szukaj">
                    </div>
                    <div class="col-md-4 st-btns">
                        <div class="input-group">
                            <button id="remove-btn" type="submit" class="btn btn-success st-btn">
                                <span class="glyphicon glyphicon-backward"></span>
                                <span class="glyphicon glyphicon-backward"></span>
                            </button>
                            <button id="include-btn" type="submit" class="btn btn-success st-btn">
                                <span class="glyphicon glyphicon-forward"></span>
                                <span class="glyphicon glyphicon-forward "></span>
                            </button>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <p>Konie startujące</p>

                        <select class="horses-select form-control" multiple="true" id="selected-horses">
                            <% referringHorses.forEach((elem) => { %>
                            <option value="<%= elem.horse._id %>"><%= elem.startNumber %>.<%= elem.horse.name %> p:<%= elem.horse.gender %></option>
                            <% }); %>
                        </select>

                        <button id="move-up" class="btn-success glyphicon glyphicon-circle-arrow-up gl-move"></button>
                        <button id="move-down" class="btn-success glyphicon glyphicon-circle-arrow-down gl-move"></button>

                    </div>
                </div>

                <button id="add-start-list" type="button" class="btn btn-success">
                    <% if (editGroups){ %>
                    Edytuj
                    <% } else { %>
                    Dodaj
                    <% } %>
                </button>
                <%= editGroups %>
                 <% if(editGroups || referringHorses.length){ %>
                <div class="alert alert-success" id="done-alert" style="margin-top:5%;">
                    Te zawody posiadają już dodaną liste startową. Zaktualizuj lub przejdź do edycji grup.
                    <a id="go-to-groups" type="button" class="btn btn-default" href="<% if(editGroups){ %> ./editGroups <% } else { %> ./addGroups <% } %> ">
                        Przejdź do grup
                        <span class="glyphicon glyphicon-forward"></span>
                    </a>
                </div>
                <% } else { %>
                <div class="alert alert-success fade" id="done-alert" style="margin-top:5%;">
                    Pomyślnie dodano liste startową
                    <a id="go-to-groups" type="button" class="btn btn-default" href="./addGroups">
                        Przejdź do grup
                        <span class="glyphicon glyphicon-forward"></span>
                    </a>
                </div>
                <% } %>
                <div class="alert alert-danger fade" id='alert'></div>



            </div>
        </div>

    </body>
</html>