<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Zawody </title>

        <script src='/bower_components/jquery/dist/jquery.js'></script>
        <script src='/bower_components/jquery-ui/jquery-ui.min.js'></script>
        <script src="/bower_components/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/utils.js"></script>
        <script src="/js/arbiter.js"></script>
        <link rel="stylesheet" href="/bower_components/jquery-ui/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/arbiter.css">


    </head>
    <body>

        <div class="jumbotron">
            <div id="arbiter-panel" style="<% if(result.horseId){ %> display: block; <% } else { %> display: none; <% } %>">
                <div hidden="true" id="compId" value="<%= result.compId %>">></div>
                <div hidden="true" id="arbiterId" value="<%= result.arbiterId %>"></div>
                <div hidden="true" id="horseId" value="<%= result.horseId? result.horseId.horse : 'undefined' %>"></div>
                <div hidden="true" id="ratesInfo" value="<%= result.ratesType %>"></div>
                <h3 style="margin-left: 20px;" id="horseDesc">
                    <% if(result.horseId){ %> Nr. startowy:  <%= result.horseId.startNumber %> <% } %>
                </h3>
                <div><% result %></div>
                <div class="row">
                    <div class="col-sm-2">
                        <h3>Typ</h3>
                    </div>
                    <div class="col-sm-8">
                        <div id="type" class="slider"></div>
                    </div>
                    <div class="col-sm-2">
                        <h3 class="result"><%= !isNaN(result.type)? result.type : 'n. o.' %></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <h3>Głowa</h3>
                    </div>
                    <div class="col-sm-8">
                        <div id="head" class="slider"></div>
                    </div>
                    <div class="col-sm-2">
                        <h3 class="result"><%= !isNaN(result.head)? result.head : 'n. o.' %></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <h3>Szyja</h3>
                    </div>
                    <div class="col-sm-8">
                        <div id="neck" class="slider"></div>
                    </div>
                    <div class="col-sm-2">
                        <h3 class="result"><%= !isNaN(result.neck)? result.neck : 'n. o.' %></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <h3>Kłoda</h3>
                    </div>
                    <div class="col-sm-8">
                        <div id="body" class="slider"></div>
                    </div>
                    <div class="col-sm-2">
                        <h3 class="result"><%= !isNaN(result.body)? result.body : 'n. o.' %></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <h3>Nogi</h3>
                    </div>
                    <div class="col-sm-8">
                        <div id="legs" class="slider"></div>
                    </div>
                    <div class="col-sm-2">
                        <h3 class="result"><%= !isNaN(result.legs)? result.legs : 'n. o.' %></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <h3>Ruch</h3>
                    </div>
                    <div class="col-sm-8">
                        <div id="movement" class="slider"></div>
                    </div>
                    <div class="col-sm-2">
                        <h3 class="result"><%= !isNaN(result.movement)? result.movement : 'n. o.' %></h3>
                    </div>
                </div>
            </div>

            <h1 class="text-center" id="no-curr-horse" style="<% if(result.horseId){ %> display: none; <% } else { %> display: block; <% } %>">
                Nie oceniasz aktualnie żadnego konia.
            </h1>
            <div style="margin-top: 5%;" class="alert alert-danger fade text-center" id='alert'></div>
        </div>
    </body>
</html>

