<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <script src='../bower_components/jquery/dist/jquery.js'></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/js/index.js"></script>
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/competition.css">
    </head>
    <body>
        Zaloguj się
        <a href="/login" class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></a>
        <div class="waist-area">
            <div class="jumbotron text-center">
                <p><%= title %></p>

                <div class="container text-center">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Nazwa grupy</th>
                                <th>Płeć</th>
                                <th>Sędziowie</th>
                                <th>Numery startowe koni</th>
                                <th>Wyniki</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            <% group.forEach((elem, i) => {%>
                            <tr>
                                <td><%= elem.name %></td>
                                <td><%= elem.gender %></td>
                                <td> <% elem.arbiters.forEach((elem, i) => { elem.startNumber } %></td>
                                <td><%= elem.horses.forEach((elem, i) => { elem.startNumber } %></td>
                                <td><%= elem.name %></td>
                                
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </body>
</html>
