<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <script src='../bower_components/jquery/dist/jquery.js'></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/js/index.js"></script>
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/competition.css">
    </head>
    <body>
        Zaloguj się
        <a href="/login" class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></a>
        <div class="waist-area">
            <div class="jumbotron text-center">
                <p><%= title %></p>

                <div class="container text-center">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Miejsce</th>
                                <th>Numer Startowy</th>

                            </tr>
                        </thead>
                        <tbody id="tbody">
                            <% competition.group.horses.forEach((elem, i) => {%>
                            <tr>
                                <td><%= i %></td>
                                <td><a href="/competition/<%= elem._id %>"><%= elem.startNumber %></a></td>
               
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </body>
</html>